.buttons{
    text-align:right;
    padding-right:0px;
  }

  .container{
    border: 1px solid #4287f5;
    padding:0px;
  }
  .titulo{
    background-color:#4287f5;
    padding:0px;
    color:#FFF;
    padding-left:15px;
  }